---
import Layout from '@layouts/Default.astro';
import SummaryCard from '@components/generic/SummaryCard.astro';
import placeholder from '@assets/astro.jpeg';

const projects = [
  {
    title: 'Circlepop',
    description: 'Proof of concept for a transit and population density map within a given radius',
    img: placeholder,
    slug: 'circlepop',
  },
  {
    title: 'Careernova',
    description: 'A platform for job seekers to tailor their resume to a given job description',
    img: placeholder,
    slug: 'careernova',
  },
];
---

<Layout title='Projects' pageTitle='Software Projects' description='Software projects by Thomas Augustus Grice'>
  <main class='bg-purple p-6'>
    <h2 class='text-3xl md:text-5xl dm-serif mb-4'>Software Projects</h2>
    <ul class='grid md:grid-cols-2 gap-8'>
      {
        projects.map((proj) => (
          <li>
            <SummaryCard
              title={proj.title}
              imgSrc={proj.img}
              imgAlt={proj.title}
              description={proj.description}
              href={`/projects/${proj.slug}/`}
              linkText='View project \u2192'
            />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
