---
import Layout from "@layouts/Default.astro";
import SummaryCard from "@components/generic/SummaryCard.astro";
import { projectSummaries } from "../../data/projects";

const projects = projectSummaries;
---

<Layout
  title="Projects"
  pageTitle="Software Projects"
  description="Software projects by Thomas Augustus Grice"
>
  <main class="bg-purple p-6">
    <h2 class="text-3xl md:text-5xl dm-serif mb-4">Software Projects</h2>
    <ul class="grid md:grid-cols-2 gap-8">
      {
        projects.map((proj) => (
          <li>
            <SummaryCard
              title={proj.title}
              imgSrc={proj.img}
              imgAlt={proj.title}
              description={proj.description}
              href={`/projects/${proj.slug}/`}
              linkText="View project \u2192"
            />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
