---
import Layout from './Default.astro';
import ImageCarousel from '@components/project/ImageCarousel.astro';
import type { ImageMetadata } from 'astro:assets';

interface Props {
  title: string;
  description: string;
  images?: ImageMetadata[];
  mainClass?: string;
  siteHref?: string;
  siteLinkText?: string;
  repoHref?: string;
  repoLinkText?: string;
}

const {
  title,
  description,
  images = [],
  mainClass = 'bg-blue p-6',
  siteHref,
  siteLinkText = 'Visit site \u2192',
  repoHref,
  repoLinkText = 'View repo \u2192',
} = Astro.props;
---

<Layout title={title} pageTitle={title} description={description}>
  <main class={mainClass}>
    <h2 class='text-3xl md:text-5xl dm-serif mb-4'>{title}</h2>
    {(siteHref || repoHref) && (
      <div class='my-4 flex gap-4 flex-wrap'>
        {siteHref && (
          <a href={siteHref} class='border-2 border-black px-4 py-2 bg-white card-shadow'>
            {siteLinkText}
          </a>
        )}
        {repoHref && (
          <a href={repoHref} class='border-2 border-black px-4 py-2 bg-white card-shadow'>
            {repoLinkText}
          </a>
        )}
      </div>
    )}
    {images.length > 0 && <ImageCarousel images={images} />}
    <slot />
  </main>
</Layout>
